name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  CommitLint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Check commit message
      uses: wagoid/commitlint-github-action@v1
